/* general css */

* {
    font-family: 'Roboto';
}

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}
header{
    background-color: azure;
    border-bottom: 1px solid #ccc;
}

.row{
    margin: 0;
}

.container-fluid{
    padding: 0;
}

.btn-primary{
    background-color: burlywood;
    border: 2px solid #C28008;
}

.btn-primary:hover{
    background-color: #C28008;
    border: 2px solid #C28008;
}
